.ColorPicker__Button {
  border-bottom-right-radius: .2rem;
  border-top-right-radius: .2rem;
  overflow: hidden;
}

.ColorPicker__Button button {
  width: 30px;
  border-color: #ced4da;
  border-left-color: transparent;
  border-bottom-right-radius: .2rem;
  border-top-right-radius: .2rem;
}